{% extends "layout.html" %}
{% block content %}
<!-- hs About Title Start -->
<div class="hs_indx_title_main_wrapper">
        <div class="hs_title_img_overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 full_width">
                    <div class="hs_indx_title_left_wrapper">
                        <h2>Numerology</h2>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 full_width">
                    <div class="hs_indx_title_right_wrapper">
                        <ul>
                            <li><a href="{{ url_for('home') }}">Home</a> &nbsp;&nbsp;&nbsp;> </li>
                            <li>Numerology </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- hs About Title End -->
    <!-- hs sidebar Start -->
    <div class="hs_kd_sidebar_main_wrapper">
        <div class="container">
            <div class="row">
                <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                    <div class="hs_kd_left_sidebar_main_wrapper">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="hs_kd_first_sec_wrapper">
                                    <h2>Numerology </h2>
                                    <h4><span></span></h4>
                                    <p>Numerology is a system of knowing the hidden and secret through the interpretation of the renowned numbers. Information of the unknown through the best-known numbers. Knowledge of the unknown is that the logical method of learning and data. It's well aforesaid that our days are numbered. However, it's not solely our days, however, everything that includes a name or kind is numbered.</p>
                                    <p>In occult system numbers from one to nine have specific meaning and significance. Numerology, as well as the study of the influences of planets and alternative celestial bodies and their application to life, has continuously been a significant vitality.The origin of the occult theory of numbers is rightly assigned to associate an Indian mathematician.</p>
                                    
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="hs_kd_first_sec_wrapper">
                                    
                                    <h2 class="space20">How does it work?</h2>
                                    <h4><span></span></h4>
                                    <p>Numerology is a system which assigns a numerical value to the letters of an alphabet and planets.
                                    </p>
                                    <p>
                                    Each one is based on your personal birth name and birth date and has its own deep-rooted effect on the individual you are today. To make, you apprehend what are those numbers about right here are few examples so you put together your own Numerology calculations and get to understand your numbers.
                                    </p>
                                    <p>When encountered within the calculation, master numbers 11, 22, and 33 are not reduced</p>
                                    <p>People have credited numerology serving them to create personal or financial decisions.
                                    </p>

                                    <h2 class="space20">Life path number</h2>
                                    <h4><span></span></h4>
                                    <p>Your life path number is based off one number to your complete birth date. It encaptures your entire being and will by no means change unlike destiny number and for the one's motives, it is unique.</p>
                                    <p>The life path number is the single most important number in your Numerology chart because it acts as a blueprint outlining how your life will play out.</p>
                                    <p>Month, Day, and Year are each separately reduced to a single digit value before they are added up.
                                    Your date of birth is 3-8-1971
                                    The day is 3, Month is 8 and year is 1971 so here year would be reduced to single digit
                                    1+9+7+1 = 18 => 1+8 = 9
                                    </p>
                                    <h2 class="space20">Destiny number or Expression number</h2>
                                    <h4><span></span></h4>
                                    <p>Whilst your lifestyles direction number plots your lifestyles' lessons and the way you cope with them, your Expression number is all about your natural strengths and weaknesses given to you at your time of birth. It targets on purpose in life, this number is the inspiration on which your life path can flourish.
                                    Your Expression number is based totally off one number that corresponds to the letters in your complete name.
                                    <br/></p>
                                    <p>
                                    For example:
                                    SAVITA        GUPTA
                                    1+1+4+9+2+1 + 7+3+7+2+1 = 38
                                    <br/>
                                    Then sum up two digits to make single digit
                                    3 + 8 = 11
                                    <br/>
                                    11 is a master number it will remain the same and here individual's destiny number is 11.
                                    </p>

                                    <h2 class="space20">Appearance/Personality number</h2>
                                    <h4><span></span></h4>
                                    <p>Your appearance number is the primary impact humans get of you. It represents the elements of yourself which you are maximum equipped and inclined to expose and enables you to determine simply how plenty you reveal and to whom. Your Appearance number is derived from only the consonants in your name.</p>
                                    <p>Separate consonant(Alphabets excluding A, E, I, O, U ) present in your name and write down numbers which represent those consonants</p>
                                    <p> For instance,<br/>
                                        Your name is SAVITA
                                        Consonants in SAVITA are S, V, T = 1+4+2 = 7<br/>
                                        Appearance or personality number of SAVITA is 7.
                                    </p>


                                </div>
                                
                            </div> 
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                    <div class="hs_kd_right_sidebar_main_wrapper">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="hs_kd_right_first_sec_wrapper">
                                    <div class="hs_kd_right_first_sec_heading">
                                        <h2>kundali patrikla</h2>
                                    </div>
                                    <div class="hs_kd_right_first_sec_img_heading">
                                        <img src="{{ url_for('static', filename='images/content/kundali/patrika.jpg') }}" alt="patrika" />
                                    </div>
                                    <div class="hs_kd_right_first_sec_img_price_heading">
                                        <ul>
                                            <li>Kundli Patrika</li>   
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="hs_kd_right_first_sec_wrapper2">
                                    <div class="hs_kd_right_first_sec_heading">
                                        <h2>Mangala Dosha</h2>
                                    </div>
                                    <div class="hs_kd_right_first_sec_img_heading">
                                        <img src="{{ url_for('static',filename='images/content/kundali/patrika2.jpg' ) }}" alt="patrika" />
                                    </div>   
                                </div>
                            </div>  
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- hs sidebar End -->
{% endblock %}