{% extends "layout.html" %}
{% block content %}
<!-- hs About Title Start -->
<div class="hs_indx_title_main_wrapper">
        <div class="hs_title_img_overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 full_width">
                    <div class="hs_indx_title_left_wrapper">
                        <h2>Reiki</h2>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 full_width">
                    <div class="hs_indx_title_right_wrapper">
                        <ul>
                            <li><a href="{{ url_for('home') }}">Home</a> &nbsp;&nbsp;&nbsp;> </li>
                            <li>Reiki </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- hs About Title End -->
    <!-- hs sidebar Start -->
    <div class="hs_kd_sidebar_main_wrapper">
        <div class="container">
            <div class="row">
                <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                    <div class="hs_kd_left_sidebar_main_wrapper">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="hs_kd_first_sec_wrapper">
                                    <h2>Reiki </h2>
                                    <h4><span></span></h4>
                                    <p>The word Reiki comes from two Japanese words - Rei and Ki.</p>

                                    <p>Rei is spiritual wisdom. It is universal and present everywhere. This is the wisdom that comes from God or the higher self. This is the God-consciousness which is all knowing. It understands each person completely. It knows the cause of all problems and difficulties and knows what to do to heal them. </p>

                                    <p>Ki is the life force. It is the vital force or the universal life force. As long as something is alive, it has life force circulating through it and surrounding it, when it dies, the life force departs. If your life force is low there is a restriction in its flow. You will be more vulnerable to illness when it is high and flowing freely, you are less likely to get sick. Life force plays an important role in everything we do. It animates the body and also is the primary energy of our emotions, thoughts and spiritual life. It means the same as chi in Chinese, Prana in Sanskrit and Mana in Hawaiian. It has also been called, odic force, orgone and bioplasma. It has been given many other names by the various cultures that have been aware of it.</p>

                                    <p>It is the God-consciousness called Rei that guides the life force called Ki in the practice we call Reiki. Therefore, Reiki can be defined as spiritually guided life force energy. This is a meaningful interpretation of the word Reiki.</p>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="hs_kd_first_sec_wrapper">
                                    <h2 class="space20">How does it works? </h2>
                                    <h4><span></span></h4>
                                    <p>Reiki has its own intelligence and knows exactly where to go and what to do. In fact, Reiki has a mind of its own. Reiki can never cause harm because Reiki is guided by the God-consciousness. It always knows what a person needs and will adjust itself to create the effect that is appropriate for them. It is always helpful.</p>

                                    <p>Reiki is bipolar in nature. It is made up of both male and female healing energies. The male part is associated with the crown chakra and called Shiva. The female part comes from below, is associated with the root chakra and is called Shakti in the Tantra system. These two energies communicate with each other and decide how much of each polarity is needed so that when the energies leave the hands, they have the proper combination of male and female healing energies for the person treated.</p>
                                </div>
                               
                            </div>   
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                    <div class="hs_kd_right_sidebar_main_wrapper">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="hs_kd_right_first_sec_wrapper">
                                    <div class="hs_kd_right_first_sec_heading">
                                        <h2>kundali patrikla</h2>
                                    </div>
                                    <div class="hs_kd_right_first_sec_img_heading">
                                        <img src="{{ url_for('static',filename='images/content/kundali/patrika.jpg') }}" alt="patrika" />
                                    </div>
                                    <div class="hs_kd_right_first_sec_img_price_heading">
                                        <ul>
                                            <li>Kundli Patrika</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="hs_kd_right_first_sec_wrapper2">
                                    <div class="hs_kd_right_first_sec_heading">
                                        <h2>Mangala Dosha</h2>
                                    </div>
                                    <div class="hs_kd_right_first_sec_img_heading">
                                        <img src="{{ url_for('static',filename='images/content/kundali/patrika2.jpg') }}" alt="patrika" />
                                    </div> 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- hs sidebar End -->
{% endblock %}