{% extends "layout.html" %}
{% block content %}
<!-- hs About Title Start -->
<div class="hs_indx_title_main_wrapper">
    <div class="hs_title_img_overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 full_width">
                <div class="hs_indx_title_left_wrapper">
                    <h2>Theta</h2>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 full_width">
                <div class="hs_indx_title_right_wrapper">
                    <ul>
                        <li><a href="{{ url_for('home')}}">Home</a> &nbsp;&nbsp;&nbsp;> </li>
                        <li>Theta </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- hs About Title End -->
<!-- hs sidebar Start -->
<div class="hs_kd_sidebar_main_wrapper">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                <div class="hs_kd_left_sidebar_main_wrapper">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="hs_kd_first_sec_wrapper">
                                <h2>Theta </h2>
                                <h4><span></span></h4>
                                <p>A theta state is a very deep state of relaxation. this is the state used in hypnosis and dreaming.
                                In it, the brain waves are slowed to a frequency of 4-7 cycles per seconds. In fact, sages meditate for hours and hours to achieve this state, as in it they're able to access absolute calmness. theta brain waves are subconscious mind. They govern a part of our mind that's a layer between the conscious and the unconscious. They hold recollections and sensations, they conjointly govern our attitude beliefs and behaviours. they're continually creative, inspirational and characterised by very spiritual sensations. it is the first state of the dream state.</p>
                                <p>
                                    Healings can help you in :
                                    <ul>
                                        <li>Healings facilitate in elevate stress </li>
                                        <li>Promote a long-lived and sustainable </li>reduction in anxiety
                                        <li>Facilitates deep physical relaxation and clarity</li>
                                        <li>Increase verbal ability and performance, IQ, synchronize each hemispheres of the brain
                                        reduce pain, promotes the neurochemical release</li>
                                    </ul>
                                </p>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="hs_kd_first_sec_wrapper">
                                
                                <h2>Brain Waves</h2>
                                <h4><span></span></h4>
                                <p>There are five different frequencies of brain waves. These waves are perpetually in motion.Everything that you simply do and say is regulated by the frequency of brain waves.Frequencies of brain waves are Beta, Alpha, Theta, Delta and Gamma.
                                </p>
                                <p>
                                <strong>(1) Beta: </strong>Beta is a state within which you're active and alert. Whenever you're thinking, talking and communicating your mind is in Beta. Beta waves have a frequency of 14-28 cycles per second.
                                </p>

                                <p><strong>(2) Alpha: </strong>The Alpha frequency is extremely relaxed and meditative state of mind. It governs daydreaming and fantasizing. those who do not operate well at this frequency experience memory difficulties. In Alpha state, brain waves are moving at a frequency of 7-14 cycles per second.</p>

                                <p><strong>(3) Theta:</strong> Theta is a state utilized in hypnosis. it is a very deep state of relaxation and brain waves slow down to the frequency of 4-7 cycles per second.</p>


                                <p><strong>(4) Delta:</strong> Delta is a state of Mind when you are in a deep sleep. it is also the state when the phone rings and we intuitively understand who's calling. Brain waves are slowed down to 0-4 cycles per second.</p>


                                <p><strong>(5) Gamma: </strong>when {we|once we|after we} learn and process information we are in gamma state. they seem to be involved in higher mental activity together with perception and consciousness.Brain waves during this state is in between 40-5000 cycles per second.
                                Theta-gamma state is the most conducive to instant healing. within the miracle of instant healing, the brain can go from 4 to 5000 cycles per second. in the time of emergency, the brain has been determined to switch back and forth between gamma and theta with no alternative wave present. This appears to be a natural response. Gamma waves disappear once an individual is in anesthesia.</p>

                            </div>
                            
                        </div> 
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                <div class="hs_kd_right_sidebar_main_wrapper">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="hs_kd_right_first_sec_wrapper">
                                <div class="hs_kd_right_first_sec_heading">
                                    <h2>kundali patrikla</h2>
                                </div>
                                <div class="hs_kd_right_first_sec_img_heading">
                                    <img src="{{ url_for('static',filename='images/content/kundali/patrika.jpg') }}" alt="patrika" />
                                </div>
                                <div class="hs_kd_right_first_sec_img_price_heading">
                                    <ul>
                                        <li>Kundli Patrika</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="hs_kd_right_first_sec_wrapper2">
                                <div class="hs_kd_right_first_sec_heading">
                                    <h2>Mangala Dosha</h2>
                                </div>
                                <div class="hs_kd_right_first_sec_img_heading">
                                    <img src="{{ url_for('static',filename='images/content/kundali/patrika2.jpg') }}" alt="patrika" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- hs sidebar End -->
{% endblock %}