{% extends "layout.html" %}
{% block content %}
<!-- hs About Title Start -->
<div class="hs_indx_title_main_wrapper">
        <div class="hs_title_img_overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 full_width">
                    <div class="hs_indx_title_left_wrapper">
                        <h2>Vastu</h2>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 full_width">
                    <div class="hs_indx_title_right_wrapper">
                        <ul>
                            <li><a href="{{ url_for('home')}}">Home</a> &nbsp;&nbsp;&nbsp;> </li>
                            <li>Vastu </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- hs About Title End -->
    <!-- hs sidebar Start -->
    <div class="hs_kd_sidebar_main_wrapper">
        <div class="container">
            <div class="row">
                <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                    <div class="hs_kd_left_sidebar_main_wrapper">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="hs_kd_first_sec_wrapper">
                                    <h2>Vastu </h2>
                                    <h4><span></span></h4>
                                    <p>Vastu principles are common all over India, living from times immemorial as a cultural entity. 
                                    Vastu has retained its traditions for thousands of years and it is relevant today as it was when 
                                    first propounded. There are also vastu texts for Jainism and Buddhism, such as the Gautamiyam, 
                                    Bauddhamatam and Caitya. The vastu Silpa traditions is purely Indian in its fundamental concepts 
                                    and currency. </p>
                                    <h2 class="space20">What is Vastu </h2>
                                    <h4><span></span></h4>
                                    <p>Vastu derived from the word 'vasu', or the earth. The earth is the principal vastu and all the buildings situated on the earth are also vastu. Apart from this, whatever is created from vastu or objects of the earth are also vastu.</p>
                                    <p>We have a conception of Space personified also known as Vastu Purusa. In the words of Sage Vyasa, Time does not exist independently, but it has a relative material existence.</p>
                                    <p>Vastu Purusa is an important factor in constructing buildings. The location of the different parts of a house must conform to the position of Vastu Purusa during different months. </p>
                                    <p>
                                        The directions should be on the basis of the sleeping side of Vastu Purusa:
                                        <ul>
                                            <li>East during August to October ( Bhadrapada, Asvina and Kartika)</li>
                                            <li>South during November to February (Margasirsa, Pausa and Magha)</li>
                                            <li>West during February to May ( Phalguna, Chaitra and Vaisakha)</li>
                                            <li>North during May to July ( Jyaistha, Asadha and Sravana)</li>
                                        </ul>
                                    </p>
                                    <p>The places where Vastu can be done are Multi-storeyed Residential Buildings, Town, Temples, Hospitals, Houses, Theatres and Consulting Chambers. Vastu can be done on any place because every area of Earth is itself Vastu Purush Mandala. 
                                    One of the ancient masters Michael Jamsen said " The Hindu people of the past made full use of the Sun's radiance from Jaipur in the North to Kancheepuram in the south". Look at the temples built in our country more than one thousand years ago. Most of them are still intact because they were constructed by Vastu Sastra. In Graha Vastu, the materials collected for building a structure itself, involve the influx and interaction of a series of invisible forces that the time selected should be capable of screening off the destructive forces and calling into action the constructive ones. </p>
                                    <p>Vastu Shastra are the textual part of Vastu Vidya, the latter being the broader knowledge concerning architecture and design theories from ancient Asian nation. Vastu Vidya knowledge is a assortment of ideas and concepts, with or without the support of layout diagrams, that don't seem to be rigid. Rather, these ideas and concepts are models for the organization of space and form within a building or assortment of buildings, supported their functions in relevancy one another, their usage and to the general fabric of the Vastu.[9] Ancient Vastu Shastra principles embrace those for the design of Mandir (Hindu temples)  and therefore the principles for the design and layout of homes, towns, cities, gardens, roads, water works, outlets and other public areas.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                    <div class="hs_kd_right_sidebar_main_wrapper">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="hs_kd_right_first_sec_wrapper">
                                    <div class="hs_kd_right_first_sec_heading">
                                        <h2>kundali patrikla</h2>
                                    </div>
                                    <div class="hs_kd_right_first_sec_img_heading">
                                        <img src="{{ url_for('static',filename='images/content/kundali/patrika.jpg') }}" alt="patrika" />
                                    </div>
                                    <div class="hs_kd_right_first_sec_img_price_heading">
                                        <ul>
                                            <li>Kundli Patrika</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="hs_kd_right_first_sec_wrapper2">
                                    <div class="hs_kd_right_first_sec_heading">
                                        <h2>Mangala Dosha</h2>
                                    </div>
                                    <div class="hs_kd_right_first_sec_img_heading">
                                        <img src="{{ url_for('static',filename='images/content/kundali/patrika2.jpg') }}" alt="patrika" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- hs sidebar End -->
{% endblock %}